* {
  box-sizing: border-box;
  list-style: none;
  letter-spacing: 0.2em;
  font-family: Poppins, sans-serif;

  /* font-size: 11px; */
}

body {
  margin: 0;

  /* font-family: sans-serif; */
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(130, 133, 127);

  /* background-color: #f4f6f8; */

  /* ff 3.6+ */
  /* background: -moz-radial-gradient(
    circle at 9% 14%,
    rgba(7, 47, 73, 1) 0%,
    rgba(8, 8, 60, 1) 100%
  ); */

  /* safari 5.1+,chrome 10+ */
  /* background: -webkit-radial-gradient(
    circle at 9% 14%,
    rgba(7, 47, 73, 1) 0%,
    rgba(8, 8, 60, 1) 100%
  ); */

  /* opera 11.10+ */
  /* background: -o-radial-gradient(
    circle at 9% 14%,
    rgba(7, 47, 73, 1) 0%,
    rgba(8, 8, 60, 1) 100%
  ); */

  /* ie 10+ */
  /* background: -ms-radial-gradient(
    circle at 9% 14%,
    rgba(7, 47, 73, 1) 0%,
    rgba(8, 8, 60, 1) 100%
  ); */

  /* global 92%+ browsers support */
  /* background: radial-gradient(
    circle at 9% 14%,
    rgba(7, 47, 73, 1) 0%,
    rgba(8, 8, 60, 1) 100%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 500px) {
  * {
    font-size: 6px;
  }
}
